<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>597958821596-4arqmvgfpg6p32fk60p23k3uqr7hdher.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.597958821596-4arqmvgfpg6p32fk60p23k3uqr7hdher</string>
	<key>API_KEY</key>
	<string>AIzaSyBx8F2tKzVtbuKjUpmIxiSZvuhWbmsybo0</string>
	<key>GCM_SENDER_ID</key>
	<string>597958821596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vroad.tzakartk</string>
	<key>PROJECT_ID</key>
	<string>tazakartk</string>
	<key>STORAGE_BUCKET</key>
	<string>tazakartk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597958821596:ios:eb19350ad55c9087001619</string>
</dict>
</plist>